<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117427709412-6e2a8rmv4ja63c65spng4ddcnlejpnt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117427709412-6e2a8rmv4ja63c65spng4ddcnlejpnt0</string>
	<key>API_KEY</key>
	<string>AIzaSyC0P3MtcqGJYSK636-TrTJcY-7Y-qL9RN8</string>
	<key>GCM_SENDER_ID</key>
	<string>117427709412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whoisarte.LoginRegister</string>
	<key>PROJECT_ID</key>
	<string>loginregister-680a2</string>
	<key>STORAGE_BUCKET</key>
	<string>loginregister-680a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117427709412:ios:af20b88fd7ed79ab3093f1</string>
</dict>
</plist>